@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');

body {
  margin: 0;
  padding: 0;
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

html { overflow:  hidden; 
}

.fuck{
font-size: 50px;
width: 200px;
height: 120px;
background: green;
margin-bottom: 30px;
transition: 1s
}

#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

#DEVILSHYTINMYEYEZ {
	position: fixed;
	background-image: url(DEVILSHYTINMYEYEZ.png);
	background: url(DEVILSHYTINMYEYEZ.png);
}

@keyframes drawit {
  0% {
    stroke-dashoffset: 305;
  }
  33% {
    stroke-dashoffset: 0;
  }
  66% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -305;
  }
}

.pentagram {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
}
.pentagram path {
  stroke: #900;
  stroke-dashoffset: 0;
  stroke-dasharray: 305;
  animation: drawit 4s infinite;
}

.section {
    position: absolute;
    top: 0px;
    left:0px;
    width: 100vw;
    height: 100vh;
    }

.curtain {
    position: absolute;
    top:0px;
    left:0px;
    width: 100vw;
    height: 100vh;
    opacity: .5;
    background: -webkit-linear-gradient(top, #6b0000, black);
    }

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    font-family: 'ComicoroRU';
    font-size: 2vw;
    color: white;
    text-shadow: 0px 0px 10px red;
    letter-spacing: 1.8vw;
    text-transform: uppercase;
    }
	
#blyad {
  -webkit-animation: blyad 2s linear infinite;
  animation: blyad 2s linear infinite;
}
@-webkit-keyframes blyad {
  0% { color: rgba(107, 0, 0, 1); }
  50% { color: rgba(107, 0, 0, 0); }
  100% { color: rgba(107, 0, 0, 1); }
}
@keyframes blyad {
  0% { color: rgba(107, 0, 0, 1); }
  50% { color: rgba(107, 0, 0, 0); }
  100% { color: rgba(107, 0, 0, 1); }
}
	
.died {
    position: absolute;
    left: 49%;
    top: 63%;
    text-shadow: 0 0 10px red;
    text-transform: uppercase;
	letter-spacing: 4px;
    }

.links {
  position: absolute;
  top: 58%;
  left: 51%;
  transform: translate(-50%, -50%);
  z-index: 100;
  line-height: 1.5;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: 'Macondo';
  text-shadow: 0 0 10px #6b0000;
  font-size: 15px;
  color: #6b0000;
  transition: color .3s ease-in-out;
}
.nep-highlight {
  position: center;
  color: red;
  text-shadow: 0 0 10px red;
}
.text-hover {
  transition: color .2s ease-in-out, text-shadow .3s ease-in-out;
}
.text-hover:hover {
  text-shadow: 0 0 0px #6b0000;
  color: #6b0000;
}
.clean-link {
  cursor: pointer;
  color: white;
  text-decoration: none;
}